.table thead tr th, .table tbody tr td {
  text-align: left;
}

.ticket-view {
  border: 1px solid #cccccc;
}

.image-preview{
  width: 110px;
  height: 100px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 10px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.table-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.table-click {
  td {
    cursor: pointer;
    &:hover {
      color: #cccccc;
    }
  }
}

.autocomplete-view {
  position: relative;
  z-index: 5;
  .list {
    position: absolute;
    top: 47px;
    width: 100%;
    background: white;
    border-radius: 5px;
    border: 1px solid #cccccc;

    hr {
      border: 1px solid #cccccc;
    }

    .item {
      cursor: pointer;
      padding: 15px;
      p {
        margin-bottom: 0;
        line-height: 1;
      }
    }
  }
}