<template>
    <!-- partial:partials/_navbar.html -->
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button sidebar-toggler">menu</button>
                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon search-text-field d-none d-md-flex">
                    <i class="material-icons mdc-text-field__icon">search</i>
                    <input class="mdc-text-field__input" id="text-field-hero-input">
                    <div class="mdc-notched-outline">
                        <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__notch">
                            <label for="text-field-hero-input" class="mdc-floating-label">Search..</label>
                        </div>
                        <div class="mdc-notched-outline__trailing"></div>
                    </div>
                </div>
            </div>
            <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section-right">
                <div class="menu-button-container menu-profile d-none d-md-block">
                    <button class="mdc-button mdc-menu-button">
                <span class="d-flex align-items-center">
                  <span class="figure">
                    <img :src="user.image" alt="user" class="user">
                  </span>
                  <span class="user-name">{{user.first_name}} {{user.last_name}}</span>
                </span>
                    </button>
                </div>
                <div class="divider d-none d-md-block"></div>
                <div class="menu-button-container d-none d-md-block">
                    <button class="mdc-button mdc-menu-button">
                        <i class="mdi mdi-arrow-down-bold-box"></i>
                    </button>
                    <div class="mdc-menu mdc-menu-surface" tabindex="-1">
                        <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                            <li class="mdc-list-item" role="menuitem">
                                <div class="item-thumbnail item-thumbnail-icon-only">
                                    <i class="mdi mdi-settings text-primary"></i>
                                </div>
                                <div class="item-content d-flex align-items-start flex-column justify-content-center">
                                    <h6 class="item-subject font-weight-normal">Profile</h6>
                                </div>
                            </li>
                            <li class="mdc-list-item" role="menuitem">
                                <div class="item-thumbnail item-thumbnail-icon-only">
                                    <i class="mdi mdi-logout-variant text-primary"></i>
                                </div>
                                <div @click="logout()" class="item-content d-flex align-items-start flex-column justify-content-center">
                                    <h6 class="item-subject font-weight-normal">Logout</h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
    require("@/assets/bootstrap.js");
    import Loader from "../../mixin/loader";
    import UserHelper from "../../mixin/UserHelper";
    export default {
        name: "NavBar",
        mixins:[UserHelper],
        data() {
            return {
                root_url: process.env.VUE_APP_API_URL,
                user: {}
            }
        },
        mounted() {
            this.setMenuClicks();
            this.user = this.getUser();
            console.log("User", this.user)
        },
        methods: {
            setMenuClicks() {
                mdc.autoInit();

                // Ripple for buttons
                let buttons = document.querySelectorAll('.mdc-button');
                for (let i = 0, button; button = buttons[i]; i++) {
                    mdc.ripple.MDCRipple.attachTo(button);
                }

                // Focus for textfields
                let textFields = document.querySelectorAll('.mdc-text-field');
                for (let i = 0, textField; textField = textFields[i]; i++) {
                    mdc.textField.MDCTextField.attachTo(textField);
                }

                const menuEls = Array.from(document.querySelectorAll('.mdc-menu'));
                menuEls.forEach((menuEl, index) => {
                    const menu = new mdc.menu.MDCMenu(menuEl);
                    const buttonEl = menuEl.parentElement.querySelector('.mdc-menu-button');
                    buttonEl.addEventListener('click', () => {
                        menu.open = !menu.open;
                    });
                    menu.setAnchorCorner(mdc.menu.Corner.BOTTOM_LEFT);
                    menu.setAnchorElement(buttonEl)
                });

                // Tabs
                let tabBars = document.querySelectorAll('.mdc-tab-bar');
                for (let i = 0, tabBar; tabBar = tabBars[i]; i++) {
                    let currentTabBar = new mdc.tabBar.MDCTabBar(tabBar);
                    currentTabBar.listen('MDCTabBar:activated', function(event) {
                        let $this = $(this);
                        let contentEls = $this.siblings('.content');
                        contentEls.map((index, contentEl) => {
                            contentEl.classList.remove('content--active');
                        });
                        contentEls[event.detail.index].classList.add('content--active');
                    });
                }
            },
            goTo(route) {
                this.$router.push(route)
                //window.location.href = route;
            },
            logout() {
                let app = this;

                let sp = localStorage.getItem("service_point");

                if(sp != null) {
                    $.ajax({
                        url: app.root_url+ "/service-points/"+sp+"/leave/",
                        type: "put",
                        success(data) {
                            localStorage.removeItem("auth_token");
                            localStorage.removeItem("user_data");
                            localStorage.removeItem("service_point");
                            app.$router.go("/");

                        }
                    })
                }else {
                    localStorage.removeItem("auth_token");
                    localStorage.removeItem("user_data");
                    localStorage.removeItem("service_point");
                    app.$router.go("/");
                }
            }
        }
    }
</script>

<style scoped>

</style>