<template>
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
        <div class="mdc-drawer__header">
            <a href="index.html" @click.prevent="goTo('/dashboard')" class="brand-logo">
                <img src="@/assets/images/logo.svg" alt="logo">
            </a>
        </div>
        <div class="mdc-drawer__content">
            <div class="mdc-list-group">
                <nav class="mdc-list mdc-drawer-menu">
                    <div class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" href="#" @click.prevent="goTo('/dashboard')">
                            <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i>
                            Dashboard
                        </a>
                    </div>

                    <div   class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" href="#" @click.prevent="goTo('/queue-list')">
                            <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">track_changes</i>
                            Queue List
                        </a>
                    </div>

                    <div v-if="isAdmin()" class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" href="#" @click.prevent="goTo('/service-point')">
                            <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">room_service</i>
                            Service Points
                        </a>
                    </div>

                    <div v-if="isAdmin()" class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" href="#" @click.prevent="goTo('/users')">
                            <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">person</i>
                            Users
                        </a>
                    </div>

                </nav>
            </div>
        </div>
    </aside>
</template>

<script>
    import PerfectScrollbar from "perfect-scrollbar";
    import UserHelper from "../../mixin/UserHelper";
    require("@/assets/bootstrap.js");
    export default {
        name: "SideBar",
        mixins:[UserHelper],
        mounted() {
            this.setSideBarClicks();
        },
        methods: {
            setSideBarClicks() {
                let sidebar = $('.mdc-drawer-menu');
                let body = $('body');

                if($('.sidebar-toggler').length > 0) {
                    let drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
                    // toggler icon click function
                    document.querySelector('.sidebar-toggler').addEventListener('click', function () {
                        drawer.open = !drawer.open;
                    });
                }

                // Initially collapsed drawer in below desktop
                if(window.matchMedia('(max-width: 991px)').matches) {
                    if(document.querySelector('.mdc-drawer.mdc-drawer--dismissible').classList.contains('mdc-drawer--open')) {
                        document.querySelector('.mdc-drawer.mdc-drawer--dismissible').classList.remove('mdc-drawer--open');
                    }
                }

                //Add active class to nav-link based on url dynamically
                //Active class can be hard coded directly in html file also as required
                let current = location.pathname.split("/").slice(-1)[0].replace(/^\/|\/$/g, '');
                $('.mdc-drawer-item .mdc-drawer-link', sidebar).each(function () {
                    let $this = $(this);
                    if (current === "") {
                        //for root url
                        if ($this.attr('href').indexOf("index.html") !== -1) {
                            $(this).addClass('active');
                            if ($(this).parents('.mdc-expansion-panel').length) {
                                $(this).closest('.mdc-expansion-panel').addClass('expanded');
                            }
                        }
                    } else {
                        //for other url
                        if ($this.attr('href').indexOf(current) !== -1) {
                            $(this).addClass('active');
                            if ($(this).parents('.mdc-expansion-panel').length) {
                                $(this).closest('.mdc-expansion-panel').addClass('expanded');
                                $(this).closest('.mdc-expansion-panel').show();
                            }
                        }
                    }
                });

                // Toggle Sidebar items
                $('[data-toggle="expansionPanel"]').on('click', function () {
                    // close other items
                    $('.mdc-expansion-panel').not($('#' + $(this).attr("data-target"))).hide(300);
                    $('.mdc-expansion-panel').not($('#' + $(this).attr("data-target"))).prev('[data-toggle="expansionPanel"]').removeClass("expanded");
                    // Open toggle menu
                    $('#' + $(this).attr("data-target")).slideToggle(300, function() {
                        $('#' + $(this).attr("data-target")).toggleClass('expanded');
                    });
                });


                // Add expanded class to mdc-drawer-link after expanded
                $('.mdc-drawer-item .mdc-expansion-panel').each(function () {
                    $(this).prev('[data-toggle="expansionPanel"]').on('click', function () {
                        $(this).toggleClass('expanded');
                    })
                });

                //Applying perfect scrollbar to sidebar
                if (!body.hasClass("rtl")) {
                    if ($('.mdc-drawer .mdc-drawer__content').length) {
                        const chatsScroll = new PerfectScrollbar('.mdc-drawer .mdc-drawer__content');
                    }
                }
            },
            goTo(route) {
                this.$router.push(route)
                //window.location.href = route;
            }
        }
    }
</script>

<style scoped>

</style>