<template>
    <div class="body-wrapper">
        <div class="main-wrapper">
            <div class="page-wrapper full-page-wrapper d-flex align-items-center justify-content-center">
                <main class="auth-page">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet"></div>
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet">
                                <div class="mdc-card">
                                    <h5>Ticket</h5>
                                    <hr>
                                    <form v-if="Object.keys(tickedItem).length === 0" id="form-create-ticket">

                                        <div class="autocomplete-view">
                                            <div class="mdc-text-field mdc-text-field--outlined">
                                                <input v-model="customer_phone"
                                                       class="mdc-text-field__input pl-2" name="phone"
                                                       id="text-field-hero-input-1" required autocomplete="off">
                                                <div class="mdc-notched-outline">
                                                    <div class="mdc-notched-outline__leading"></div>
                                                    <div class="mdc-notched-outline__notch">
                                                        <label for="text-field-hero-input-1" class="mdc-floating-label">Phone</label>
                                                    </div>
                                                    <div class="mdc-notched-outline__trailing"></div>
                                                </div>
                                                <div v-if="matchingNumbers.length > 0" class="list">
                                                    <template v-for="(item, i) in matchingNumbers">
                                                        <hr v-if="i !== 0">
                                                        <div @click="onPhoneSelect(item)" class="item">
                                                            <p>{{item.phone}}</p>
                                                        </div>
                                                    </template>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="mdc-text-field mdc-text-field--outlined mt-3">
                                            <input v-model="customer_name" class="mdc-text-field__input ml-2"
                                                   name="name"
                                                   id="text-field-hero-input" required>
                                            <div class="mdc-notched-outline">
                                                <div class="mdc-notched-outline__leading"></div>
                                                <div class="mdc-notched-outline__notch">
                                                    <label for="text-field-hero-input"
                                                           class="mdc-floating-label">Name</label>
                                                </div>
                                                <div class="mdc-notched-outline__trailing"></div>
                                            </div>
                                        </div>

                                        <div class="text-center mt-3">
                                            <button @click.prevent="createCustomer" class="mdc-button mdc-button--raised filled-button--info">
                                                GENERATE
                                            </button>
                                        </div>

                                    </form>
                                    <div v-else class="ticket-view p-3">
                                        <h5>Ticket Number</h5>
                                        <h3>{{tickedItem.ticket_number}}</h3>
                                        <div>
                                            <button @click="reset" class="mdc-button mdc-button--raised filled-button--info">
                                                RESET
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet"></div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</template>

<script>
    import Loader from "../mixin/loader";

    require("@/assets/js/material.js");
    require("@/assets/js/misc.js");
    export default {
        name: "CustomerBook",
        mixins: [Loader],
        data() {
            return {
                root_url: process.env.VUE_APP_API_URL,
                matchingNumbers: [],
                numbers: [
                    {"name": "Pauuz", "phone": "0702111111"},
                    {"name": "Sayrunjah", "phone": "0701234567"},
                    {"name": "Charz", "phone": "0752132567"},
                    {"name": "Paule", "phone": "0752090909"},
                ],
                selectedItem: {},
                customer_name: "",
                customer_phone: "",
                fetchContent: true,
                tickedItem: {}
            }
        },
        watch: {
            // whenever question changes, this function will run
            customer_phone: function (value, oldValue) {
                let app = this;
                if (value.toString().length > 3) {
                    if (app.fetchContent) {
                        app.searchCustomer(value.toString());
                    }
                    //app.matchingNumbers = app.numbers.filter((e) => e.phone === value.toString());
                } else {
                    app.selectedItem = {};
                    app.customer_name = "";

                    app.fetchContent = true;
                    app.matchingNumbers = [];
                }
            }
        },
        methods: {
            onPhoneChange(e) {
                let app = this;
                let num = e.target.value;

                if (num.toString().length > 5) {
                    app.matchingNumbers = app.numbers.filter((e) => e.phone === num.toString());
                } else {
                    app.matchingNumbers = [];
                }
            },
            searchCustomer(phone) {
                let app = this;
                $.ajax({
                    url: app.root_url + "/customers/search/?search=" + phone,
                    success(data) {
                        app.matchingNumbers = data;
                    }
                })
            },
            reset() {
                this.tickedItem = {};
                app.selectedItem = {};
                app.customer_name = "";
                app.customer_phone = "";
                app.matchingNumbers = [];
            },
            createCustomer() {
                let app = this;
                let form = $("#form-create-ticket");
                if (form.valid()) {
                    app.showLoader((loader) => {
                        $.ajax({
                            url: app.root_url + "/customers/",
                            type: "POST",
                            data: form.serialize(),
                            success(data) {
                                console.log(data);
                                app.createTicket(data.id, (res) => {
                                    if(res !== "ERROR") {
                                        app.selectedItem = {};
                                        app.customer_name = "";
                                        app.customer_phone = "";
                                        app.tickedItem = res;
                                    }
                                    loader.close();
                                });

                            },
                            error(e) {
                                loader.close();
                            }
                        })
                    })
                }
            },
            createTicket(customerId, completed) {
                let app = this;
                $.ajax({
                    url: app.root_url+ "/queue/",
                    type: "post",
                    data: {customer: customerId},
                    success(data) {
                        completed(data);
                    },
                    error(e) {
                        completed("ERROR");
                    }
                })
            },
            onPhoneSelect(selectedItem) {
                let app = this;
                app.fetchContent = false;
                app.customer_name = selectedItem.name;
                app.customer_phone = selectedItem.phone;
                $("input[name=name]").focus();
                //app.showSuggestions = false;
                app.matchingNumbers = [];
            }
        }
    }
</script>

<style scoped>

</style>