<template>
    <div class="body-wrapper">
        <SideBar/>

        <div class="main-wrapper mdc-drawer-app-content">
            <NavBar/>

        </div>
    </div>
</template>

<script>
    import SideBar from "./includes/SideBar";
    import NavBar from "./includes/NavBar";

    export default {
        name: "DashBoard",
        components: {
            SideBar, NavBar
        },
        mounted() {
            let user = localStorage.getItem("user_data");
            console.log("User", JSON.parse(user));
        },
        methods: {
            saveCustomer() {

            }
        }
    }
</script>

<style scoped>

</style>