<template>
    <div class="row">
        <form id="login-form" class="col s6 offset-s3">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="username" id="username" type="text" class="validate">
                            <label for="username">Username</label>
                        </div>
                        <div class="input-field col s12">
                            <input name="password" id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>

                        <div class="center-align">
                            <button @click.stop.prevent="login()" class="waves-effect waves-light btn">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import $ from 'jquery';
    import axios from "axios"

    export default {
        name: "Home",
        data() {
            return {
                url: "http://127.0.0.1:8000"
            }
        },
        components: {},
        methods: {
            login() {
                let app = this;
                $.ajax({
                    url: app.url + "/api/api-token-auth/",
                    type: 'post',
                    data: $("#login-form").serialize(),
                    success(data) {
                         console.log(data);
                         localStorage.setItem("auth_token", data.token);
                        app.$router.push("/dashboard")
                    }, error(e) {
                    },
                })
            }
        }
    }
</script>

<style scoped>

</style>