<template>
    <div class="body-wrapper">
        <div class="main-wrapper">
            <div class="page-wrapper full-page-wrapper d-flex align-items-center justify-content-center">
                <main class="auth-page">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet"></div>
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet">
                                <div class="mdc-card">
                                    <form id="login-form">
                                        <div class="mdc-layout-grid">
                                            <div class="mdc-layout-grid__inner">
                                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                                                    <div class="mdc-text-field w-100">
                                                        <input name="username" class="mdc-text-field__input" id="text-field-hero-input-1">
                                                        <div class="mdc-line-ripple"></div>
                                                        <label for="text-field-hero-input-1" class="mdc-floating-label">Username</label>
                                                    </div>
                                                </div>
                                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                                                    <div class="mdc-text-field w-100">
                                                        <input name="password" class="mdc-text-field__input" type="password" id="text-field-hero-input">
                                                        <div class="mdc-line-ripple"></div>
                                                        <label for="text-field-hero-input" class="mdc-floating-label">Password</label>
                                                    </div>
                                                </div>
                                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                                    <div class="mdc-form-field">
                                                        <div class="mdc-checkbox">
                                                            <input type="checkbox"
                                                                   class="mdc-checkbox__native-control"
                                                                   id="checkbox-1"/>
                                                            <div class="mdc-checkbox__background">
                                                                <svg class="mdc-checkbox__checkmark"
                                                                     viewBox="0 0 24 24">
                                                                    <path class="mdc-checkbox__checkmark-path"
                                                                          fill="none"
                                                                          d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                                                </svg>
                                                                <div class="mdc-checkbox__mixedmark"></div>
                                                            </div>
                                                        </div>
                                                        <label for="checkbox-1">Remember me</label>
                                                    </div>
                                                </div>
                                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop d-flex align-items-center justify-content-end">
                                                    <a href="#">Forgot Password</a>
                                                </div>
                                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                                                    <a @click.prevent="login" class="mdc-button mdc-button--raised w-100">
                                                        Login
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet"></div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</template>

<script>
    import Loader from "../mixin/loader";
    import UserHelper from "../mixin/UserHelper";
    require("@/assets/js/material.js");
    require("@/assets/js/misc.js");

    export default {
        name: "Login",
        mixins: [Loader, UserHelper],
        data() {
            return {

                root_url: process.env.VUE_APP_API_URL,
            }
        },
        methods: {
            login() {
                let app = this;
                app.showLoader((loader) => {
                    new Promise(resolve => {
                        app.getToken((res) => {
                            resolve(res);
                        })
                    }).then((res) => {
                        console.log("RES", res);
                        if(res !== "ERROR") {
                            app.getCurrentUser(res, (user) => {
                                if(user !== "ERROR") {
                                    if(app.isAdmin()) {
                                        app.$router.push("/dashboard")
                                    }else {
                                        app.$router.push("/select-service-point")
                                    }
                                }
                                loader.close();
                            })
                        }

                    })
                });
            },
            getToken(completed) {
                let app = this;
                $.ajax({
                    url: app.root_url + "/api-token-auth/",
                    type: 'post',
                    data: $("#login-form").serialize(),
                    success(data) {
                        console.log("Token", data);
                        localStorage.setItem("auth_token", data.token);
                        completed(data.token);
                    }, error(e) {
                        completed("ERROR")
                    },
                })
            },
            getCurrentUser(token, completed) {
                let app = this;
                $.ajax({
                    headers: {
                        'Authorization': 'Token ' + token
                    },
                    url: app.root_url+"/users/current_user/",
                    success(data) {
                        console.log("User", data);
                        localStorage.setItem("user_data", JSON.stringify(data));
                        completed(data)
                    },
                    error(xhr, textStatus, errorThrown) {
                        console.log("xhr", xhr);
                        console.log("ts", textStatus);
                        console.log("error", errorThrown);
                        completed("ERROR")
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>