<template>
    <div class="body-wrapper">
        <SideBar/>

        <div class="main-wrapper mdc-drawer-app-content">
            <NavBar/>

            <div class="page-wrapper mdc-toolbar-fixed-adjust">
                <main class="content-wrapper">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-7">
                                <div class="mdc-card p-0">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Contact</th>
                                                <th>Ticket</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(item, index) in queueItems">
                                                <td>{{index+1}}</td>
                                                <td>{{item.customer.name}}</td>
                                                <td>{{item.customer.phone}}</td>
                                                <td>{{item.ticket_number}}</td>
                                                <td>
                                                    <button v-if="index===0" @click.prevent="callToServicePoint(item)" class="mdc-button mdc-button--raised filled-button--info">
                                                        Call
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div  class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-5">
                                <div class="mdc-card p-4">
                                    <div v-if="Object.keys(selectedQueueItem).length > 0" class="ticket-view text-left p-3">
                                        <h3 class="text-center">Ticket</h3>
                                        <h3 class="text-center">{{selectedQueueItem.ticket_number}}</h3>

                                        <div v-if="selectedQueueItem.customer" class="mdc-layout-grid__inner mt-3">
                                            <div class="mdc-layout-grid__cell--span-6">
                                                <h6>{{selectedQueueItem.customer.name}}</h6>
                                                <h6>{{selectedQueueItem.customer.phone}}</h6>
                                            </div>
                                            <div v-if="selectedQueueItem.status !== 'COMPLETED'" class="mdc-layout-grid__cell--span-6 text-right">
                                                <button class="mdc-button mdc-button--raised filled-button--success inline">
                                                    Recall
                                                </button>

                                                <button @click="closeServicePoint()" class="mdc-button mdc-button--raised filled-button--danger ml-2 mt-2">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div v-else class="ticket-view p-3">
                                        <h5 class="text-center">No Customer !!</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</template>

<script>
    import SideBar from "./includes/SideBar";
    import NavBar from "./includes/NavBar";
    import Loader from "../mixin/loader";

    export default {
        name: "QueueList",
        mixins: [
            Loader
        ],
        components: {
            SideBar, NavBar
        },
        data() {
            return {
                root_url: process.env.VUE_APP_API_URL,
                queueItems: [],
                selectedQueueItem: {}
            }
        },
        mounted() {
            let app = this;
            app.getQueueItems();
            app.getServicePointCustomer();
            setInterval(() => app.getQueueItems(), 10000);
        },
        methods: {
            getQueueItems() {
                let app = this;
                $.ajax({
                    url: app.root_url + "/queue/items/?status=PENDING",
                    success(data) {
                        app.queueItems = data.results;
                    }
                })
            },
            getServicePointCustomer() {
                let app = this;
                let servicePoint = localStorage.getItem("service_point");

                $.ajax({
                    url: app.root_url+ "/service-points/"+servicePoint+"/customer/",
                    success(data) {
                        app.selectedQueueItem = data;
                    }
                })
            },
            closeServicePoint() {
                let app = this;
                let servicePoint = localStorage.getItem("service_point");

                $.ajax({
                    url: app.root_url+ "/service-points/"+servicePoint+"/close/",
                    type: "POST",
                    success(data) {
                        app.selectedQueueItem = {};

                    }
                })
            },
            callToServicePoint(queueItem) {
                let app = this;
                let url =app.root_url+"/queue/"+queueItem.id+"/call_to_service_point/";
                let servicePoint = localStorage.getItem("service_point");

                app.showLoader((loader) => {
                    $.ajax({
                        url: url,
                        type: "post",
                        data: {service_point_id: servicePoint},
                        success(data) {
                            app.selectedQueueItem = queueItem;
                            app.getQueueItems();
                            loader.close();
                        },
                        error(e) {
                            loader.close();
                        }
                    })
                });
            }
        }
    }
</script>

<style scoped>

</style>