<template>
    <div class="body-wrapper">
        <SideBar/>

        <div class="main-wrapper mdc-drawer-app-content">
            <NavBar/>

            <div class="page-wrapper mdc-toolbar-fixed-adjust">
                <main class="content-wrapper">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                                <div class="mdc-card p-0">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(service_point, index) in servicePoints">
                                                <td>{{index+1}}</td>
                                                <td>{{service_point.name}}</td>
                                                <td>
                                                    <button @click="onUpdateClick(service_point)" class="mdc-button mdc-button--raised filled-button--info">
                                                        Update
                                                    </button>
                                                    <button class="mdc-button mdc-button--raised filled-button--danger ml-2">
                                                        Delete
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                                <div class="mdc-card p-4">
                                    <h6 class="card-title">Service Point</h6>
                                    <form id="service-point-form">

                                        <div class="mdc-text-field mdc-text-field--outlined">
                                            <input :value="selectedServicePoint.name" class="mdc-text-field__input" name="name" id="text-field-hero-input" required>
                                            <div class="mdc-notched-outline">
                                                <div class="mdc-notched-outline__leading"></div>
                                                <div class="mdc-notched-outline__notch">
                                                    <label for="text-field-hero-input" class="mdc-floating-label">Name</label>
                                                </div>
                                                <div class="mdc-notched-outline__trailing"></div>
                                            </div>
                                        </div>

                                        <div class="text-right mt-3">
                                            <button @click.prevent="saveServicePoint" class="mdc-button mdc-button--raised filled-button--info">
                                                Save
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</template>

<script>
    import SideBar from "./includes/SideBar";
    import NavBar from "./includes/NavBar";
    import Loader from "../mixin/loader";

    export default {
        name: "ServicePoint",
        mixins: [Loader],
        components: {
            SideBar, NavBar
        },
        data() {
            return {
                root_url: process.env.VUE_APP_API_URL,
                servicePoints: [],
                selectedServicePoint: {}
            }
        },
        mounted() {
            this.getServicePoints();
        },
        methods: {
            getServicePoints() {
                let app = this;
                $.ajax({
                    url: app.root_url+ "/service-points/",
                    success(data) {
                        app.servicePoints = data.results;
                    }
                })
            },
            onUpdateClick(item) {
                $("input").focus();
                this.selectedServicePoint = item;
            },
            saveServicePoint() {
                let app = this;
                let form = $("#service-point-form");
                let url = "/service-points/";
                let requestType = "post";
                if(app.selectedServicePoint.id != null) {
                    url = "/service-points/"+app.selectedServicePoint.id+"/";
                    requestType = "put";
                }
                if(form.valid()) {
                    app.showLoader((loader) => {
                        $.ajax({
                            url: app.root_url+ url,
                            type: requestType,
                            data: form.serialize(),
                            success(data) {
                                app.selectedServicePoint = {};
                                app.getServicePoints();
                                loader.close()
                            },
                            error(e) {
                                loader.close()
                            }
                        })
                    }, "Loading...")
                }
            }
        }
    }
</script>

<style scoped>

</style>