<template>
    <div class="body-wrapper">
        <div class="main-wrapper">
            <div class="page-wrapper full-page-wrapper d-flex align-items-center justify-content-center">
                <main class="auth-page">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet"></div>
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet">
                                <div class="mdc-card">
                                    <h5>Select Service Point</h5>
                                    <table v-if="servicePoints.length > 0" class="table table-striped table-click mt-2">
                                        <tbody>
                                            <tr v-for="item in servicePoints"><td @click="selectServicePoint(item.id)">{{item.name}}</td></tr>
                                        </tbody>
                                    </table>

                                    <h6 class="text-center" v-else> All Service Points Occupied at the moments </h6>
                                </div>
                            </div>
                            <div class="stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet"></div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ServicePointSelect",
        data() {
            return {
                root_url: process.env.VUE_APP_API_URL,
                servicePoints: []
            }
        },
        mounted() {
            this.getVacantServicePoints();
        },
        methods: {
            selectServicePoint(servicePointId) {
                let app = this;
                $.ajax({
                    url: app.root_url+ "/service-points/"+ servicePointId+ "/select/",
                    type: "PUT",
                    success(data) {
                        localStorage.setItem("service_point", servicePointId);
                        app.$router.push("/queue-list")
                    },
                    error(e) {}
                })
            },
            getVacantServicePoints() {
                let app = this;
                $.ajax({
                    url: app.root_url+"/service-points/vacant/",
                    success(data) {
                        app.servicePoints = data;
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>