<template>
    <div class="body-wrapper">
        <SideBar/>

        <div class="main-wrapper mdc-drawer-app-content">
            <NavBar/>

            <div class="page-wrapper mdc-toolbar-fixed-adjust">
                <main class="content-wrapper">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-7">
                                <div class="mdc-card p-0">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(user, index) in users">
                                                <td>{{index+1}}</td>
                                                <td>
                                                    <div class="mdc-layout-grid">
                                                        <div class="mdc-layout-grid__inner">
                                                            <div class="mdc-layout-grid__cell--span-2">
                                                                <img :src="user.image" class="table-img">
                                                            </div>
                                                            <div class="mdc-layout-grid__cell">
                                                                <p>{{user.first_name}} {{user.last_name}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="d-flex justify-content-end">
                                                    <button @click="onUpdateClick(user)" class="mdc-button mdc-button--raised filled-button--info">
                                                        Update
                                                    </button>
                                                    <button class="mdc-button mdc-button--raised filled-button--danger ml-2">
                                                        Delete
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-5">
                                <div class="mdc-card p-4">
                                    <h6 class="card-title">User</h6>
                                    <form id="user-form">

                                        <div class="text-center">
                                            <ImagePicker :key="imageUpdateKey" :originalimage="selectedUser.image"
                                                    hintText="Staff Image" name="image" id="photo"/>
                                        </div>

                                        <div class="mdc-text-field mdc-text-field--outlined mt-3">
                                            <input :value="selectedUser.username" name="username" class="mdc-text-field__input"
                                                   id="text-field-hero-input-0" required>
                                            <div class="mdc-notched-outline">
                                                <div class="mdc-notched-outline__leading"></div>
                                                <div class="mdc-notched-outline__notch">
                                                    <label for="text-field-hero-input-0" class="mdc-floating-label">Username</label>
                                                </div>
                                                <div class="mdc-notched-outline__trailing"></div>
                                            </div>
                                        </div>

                                        <div class="mdc-text-field mdc-text-field--outlined mt-3">
                                            <input :value="selectedUser.first_name" name="first_name" class="mdc-text-field__input"
                                                   id="text-field-hero-input" required>
                                            <div class="mdc-notched-outline">
                                                <div class="mdc-notched-outline__leading"></div>
                                                <div class="mdc-notched-outline__notch">
                                                    <label for="text-field-hero-input" class="mdc-floating-label">First
                                                        Name</label>
                                                </div>
                                                <div class="mdc-notched-outline__trailing"></div>
                                            </div>
                                        </div>

                                        <div class="mdc-text-field mdc-text-field--outlined mt-3">
                                            <input :value="selectedUser.last_name" name="last_name" class="mdc-text-field__input"
                                                   id="text-field-hero-input-1" required>
                                            <div class="mdc-notched-outline">
                                                <div class="mdc-notched-outline__leading"></div>
                                                <div class="mdc-notched-outline__notch">
                                                    <label for="text-field-hero-input-1" class="mdc-floating-label">Last
                                                        Name</label>
                                                </div>
                                                <div class="mdc-notched-outline__trailing"></div>
                                            </div>
                                        </div>

                                        <div class="mdc-text-field mdc-text-field--outlined mt-3">
                                            <input :value="selectedUser.email" class="mdc-text-field__input" name="email"
                                                   id="text-field-hero-input-2" required>
                                            <div class="mdc-notched-outline">
                                                <div class="mdc-notched-outline__leading"></div>
                                                <div class="mdc-notched-outline__notch">
                                                    <label for="text-field-hero-input-2" class="mdc-floating-label">Email</label>
                                                </div>
                                                <div class="mdc-notched-outline__trailing"></div>
                                            </div>
                                        </div>

                                        <input hidden name="is_staff" :value="true">
                                        <input v-if="Object.keys(selectedUser).length > 0" hidden name="is_superuser" :value="selectedUser.is_superuser">
                                        <input v-else hidden name="is_superuser" :value="false">

                                        <div class="text-right mt-3">
                                            <button @click.prevent="saveUser"
                                                    class="mdc-button mdc-button--raised filled-button--info">
                                                Save
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</template>

<script>
    import SideBar from "./includes/SideBar";
    import NavBar from "./includes/NavBar";
    import ImagePicker from "./commons/ImagePicker";
    import Loader from "../mixin/loader";

    export default {
        name: "Users",
        mixins: [
            Loader
        ],
        components: {
            SideBar, NavBar, ImagePicker
        },
        data() {
            return {
                imageUpdateKey: 1,
                root_url: process.env.VUE_APP_API_URL,
                users: [],
                selectedUser: {}
            }
        },
        mounted() {
            this.getUsers()
        },
        methods: {
            getUsers() {
                let app = this;
                $.ajax({
                    url: app.root_url + "/users/",
                    success(data) {
                        console.log(data);
                        app.users = data.results;
                    }
                })
            },
            clearForm() {
                this.selectedUser = {};
                this.imageUpdateKey++;
                $("input[name=image]").val("");
                $("input").val("")
            },
            onUpdateClick(item) {
                this.imageUpdateKey++;
                this.selectedUser = item;
                $('input').each(function(i, obj) {
                    setTimeout(() => $(this).focus(), 200);
                });
            },
            saveUser() {
                let app = this;
                let form = $("#user-form");
                let formData = new FormData(form[0]);
                let url = "/users/";
                let requestType = "post";
                if(app.selectedUser.id != null) {
                    url = "/users/"+app.selectedUser.id+"/";
                    requestType = "put";
                }

                let imageView = $("#photo");

                if (form.valid()) {

                    if(imageView.val() === "") {
                        formData.delete("image");
                    }

                    app.showLoader((loader) => {
                        $.ajax({
                            url: app.root_url + url,
                            data: formData,
                            processData: false,
                            contentType: false,
                            type: requestType,
                            success(data) {
                                imageView.show();
                                app.getUsers();
                                app.clearForm();
                                loader.close()
                            },
                            error($xhr, textStatus, errorThrown) {
                                imageView.show();
                                loader.close();

                            }
                        });
                    });
                } else {
                }


            },
        }
    }
</script>

<style scoped>

</style>