<template>
    <div class="input-field">
       <div  class="upload-btn-wrapper">
        <div class="image-preview text-center">
            <img v-show="imageShow" style="width: 100px; height: 100px;" :src="imageSrc">
            <span class="text-muted" v-show="!imageShow">{{hintText}}</span>
            <i v-show="!imageShow" style="font-size: 50px" class="fa fa-camera"></i>
        </div>
            <input v-if="isrequired" type="file"  @change="onFileChange" :id="id" :name="name" required>
            <input v-else type="file"  @change="onFileChange" :id="id" :name="name">
        </div>
        <div v-show="imageShow">
            <div class="text-center" style="margin-top: 5px;">
                <button @click.prevent.stop="removeImage" class="btn btn-danger">Remove Image</button>
            </div>
        </div>
        <div class="error-holder"></div>
    </div>
</template>

<script>
    export default {
        mounted() {

            if(this.$props.originalimage != null) {
                this.imageSrc = this.$props.originalimage;
                this.imageShow = true
            }

            if(this.$props.hintText == null) {
                this.$props.hintText="Upload Image"
            }

        },
        props: [
            "originalimage", "id", "name", "isrequired", "hintText"
        ],
        data() {
            return{
                imageShow: false,
                imageSrc: null,
                componentKey: 0,
            }
        },
        methods: {
            onFileChange(e) {
                let app = this;
                let files = e.target.files || e.dataTransfer.files;
                var fr = new FileReader();
                fr.onload = function (e) { app.imageSrc = this.result; };
                fr.readAsDataURL(files[0]);
                app.imageShow = true;
            },
            removeImage(){
                let app = this
                app.imageShow = false;
                app.imageSrc = "";
                $('#'+app.$props.id).val('');
            },
        }
    }
</script>
