<template>
  <div id="app">
    <!--<div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/dashboard">About</router-link>
    </div>-->
    <transition>
      <keep-alive>
        <router-view></router-view>
      </keep-alive>
    </transition>


  </div>
</template>

<script>
  require("@/assets/bootstrap.js")
</script>

<style lang="scss">
  @import "assets/vendors/mdi/css/materialdesignicons.min.css";
  @import "assets/vendors/flag-icon-css/css/flag-icon.min.css";
  @import "assets/vendors/css/vendor.bundle.base.css";
  @import "assets/css/demo/main.css";
  @import "assets/css/custom";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
